
:root {

    --color-bg: #fffff7;
    --color-base: rgb(64, 73, 74);;
    --color-yellow-green: #40494a;

    --size-125: 125px;
    --size-150: 150px;
    --size-225: 225px;
    --size-700: 700px;
    --size-800: 800px;
    --size-900: 900px;


}
